* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.header {
  display: flex;
  background-color: black;
  color: gold;
  height: 100px;
  align-items: center;

}

.links {
  color: black;
  margin: 0 auto;
  position: absolute;
  left: 150px;
}

.links a {
  color: gold;
  padding: 20px;
}

.header__icon {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 100px;
}

.themes img {
  width: 35px;
  position: relative;
  top: 5px;
}

#user {
  width: 43px;
  position: relative;
  top: 10px;
}

.themes {
  position: absolute;
  right: 120px;
}

.themes input {
  width: 300px;
  border: none;
  border-radius: 15px;
  padding: 5px;
  background-color: lightgray;
  position: relative;
  bottom: 5px;
}

.hiddensearch {
  width: 30px;
  height: 30px;
  display: none;
}

.hiddenlinks {
  display: none;
}

@media screen and (max-width:700px) {
  .themes input {
    display: none;
  }

  .links {
    position: absolute;
    left: 50px;
  }

  .header__icon {
    left: 20px;
    position: absolute;
  }

  .hiddensearch {
    display: inline;
  }

  .themes {
    position: absolute;
    right: 50px;
    top: 20px;
  }

  .links {
    display: none;
  }

  .hiddenlinks {
    display: inline;
    width: 40px;
    position: relative;
    left: 70px;
  }


}